{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% block title %} Listings {% endblock title %} 

{% block body_content %}
<div class="main-content">
    <div class="main-header page-banners">
        <div class="main-header-content">
            <h1>Properties For Sale</h1>
        </div>
    </div>    

    <div class="homepage-fourth-section">
        <div class="double-box title-head">
            <h1 class="wow fadeInUp" data-wow-delay="0.3s" >Current Listings</h1>
        </div>
        <div class="row affairs-pagination double-box">
            <div class="col-12 col-md-6 col-xl-3 wow fadeInUp affairs-card">
                <img src="{%static 'images/4p.jpeg'%}">
                <div class="affairs-content wow fadeInUp" data-wow-delay="0.2s">
                    <a href="#">Cuberia Condominium</a>
                    <p>{{ "Bandar Bukit Raja Sales Gallery, Jalan Gamelan 1E, Bandar Bukit Raja, Klang, Selangor"|slice:":48" }}{% if "Bandar Bukit Raja Sales Gallery, Jalan Gamelan 1E, Bandar Bukit Raja, Klang, Selangor"|length > 50 %}...{% endif %}</p>
                    <p>RM {{ 13245656 |intcomma }}</p>
                    <div class="bedroom-div wow fadeInUp" data-wow-delay="0.4s">
                        <div class="d-flex" style="align-items: baseline;">
                            <i class="custom-fa fa fa-bed mt-2" aria-hidden="true"></i>
                            <p>&nbsp; 6</p>
                        </div>
                        <a class="wow fadeInUp a-custom-buttom mt-2" href="#" data-wow-delay="0.4s" style="padding: unset; width: 10rem;">
                            <span style="font-size: 1.4rem;">View details</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 wow fadeInUp affairs-card">
                <img src="{%static 'images/property_b.jpeg'%}">
                <div class="wow fadeInUp affairs-content" data-wow-delay="0.2s">
                    <a href="#">Solstice Condominium</a>
                    <p>{{ "Bandar Bukit Raja Sales Gallery, Jalan Gamelan 1E, Bandar Bukit Raja, Klang, Selangor"|slice:":48" }}{% if "Bandar Bukit Raja Sales Gallery, Jalan Gamelan 1E, Bandar Bukit Raja, Klang, Selangor"|length > 50 %}...{% endif %}</p>
                    <p>RM {{ 3210000 |intcomma }}</p>
                    <div class="bedroom-div wow fadeInUp" data-wow-delay="0.4s">
                        <div class="d-flex" style="align-items: baseline;">
                            <i class="custom-fa fa fa-bed mt-2" aria-hidden="true"></i>
                            <p>&nbsp; 5</p>
                        </div>
                        <a class="wow fadeInUp a-custom-buttom mt-2" href="#" data-wow-delay="0.4s" style="padding: unset; width: 10rem;">
                            <span style="font-size: 1.4rem;">View details</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 wow fadeInUp affairs-card">
                <img src="{%static 'images/property_a.webp'%}">
                <div class="wow fadeInUp affairs-content" data-wow-delay="0.2s">
                    <a href="#">Putra Heights</a>
                    <p>{{ "Bandar Bukit Raja Sales Gallery, Jalan Gamelan 1E, Bandar Bukit Raja, Klang, Selangor"|slice:":48" }}{% if "Bandar Bukit Raja Sales Gallery, Jalan Gamelan 1E, Bandar Bukit Raja, Klang, Selangor"|length > 50 %}...{% endif %}</p>
                    <p>RM {{ 700000 |intcomma }}</p>
                    <div class="bedroom-div wow fadeInUp" data-wow-delay="0.4s">
                        <div class="d-flex" style="align-items: baseline;">
                            <i class="custom-fa fa fa-bed mt-2" aria-hidden="true"></i>
                            <p>&nbsp; 3</p>
                        </div>
                        <a class="wow fadeInUp a-custom-buttom mt-2" href="#" data-wow-delay="0.4s" style="padding: unset; width: 10rem;">
                            <span style="font-size: 1.4rem;">View details</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 wow fadeInUp affairs-card">
                <img src="{%static 'images/property_.jpeg'%}">
                <div class="wow fadeInUp affairs-content" data-wow-delay="0.2s">
                    <a href="#">Tamarind Suites</a>
                    <p>{{ "Bandar Bukit Raja Sales Gallery, Jalan Gamelan 1E, Bandar Bukit Raja, Klang, Selangor"|slice:":48" }}{% if "Bandar Bukit Raja Sales Gallery, Jalan Gamelan 1E, Bandar Bukit Raja, Klang, Selangor"|length > 50 %}...{% endif %}</p>
                    <p>RM {{ 700000 |intcomma }}</p>
                    <div class="bedroom-div wow fadeInUp" data-wow-delay="0.4s">
                        <div class="d-flex" style="align-items: baseline;">
                            <i class="custom-fa fa fa-bed mt-2" aria-hidden="true"></i>
                            <p>&nbsp; 3</p>
                        </div>
                        <a class="wow fadeInUp a-custom-buttom mt-2" href="#" data-wow-delay="0.4s" style="padding: unset; width: 10rem;">
                            <span style="font-size: 1.4rem;">View details</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% comment %}
        <div class="affairs-pagination double-box mt-5" style="height: unset;">
            <a class="wow fadeInUp a-custom-buttom" href="#" data-wow-delay="0.4s">
                <span>View More&nbsp;&nbsp;&nbsp;</span>
                <div><img src="{% static 'images/search-arrow.svg' %}"></div>
            </a>
        </div>
        {% endcomment %}
    </div>
</div>
{% endblock body_content %}