{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% block title %} Listings {% endblock title %}

{% block body_content %}
<div class="main-content">
    <div class="main-header page-banners">
        <div class="main-header-content">
            <h1 class="wow fadeInUp">Properties For Sale</h1>
        </div>
    </div>

    <div class="homepage-fourth-section">
        <div class="double-box title-head">
            <h1 class="wow fadeInUp" data-wow-delay="0.2s" >Current Listings</h1>
        </div>
        <div class="row affairs-pagination double-box">
            {% for object in object_list %}
            <div class="col-12 col-md-6 col-xl-3 wow fadeInUp affairs-card">
                <img src="{{object.image.url}}">
                <div class="affairs-content wow fadeInUp" data-wow-delay="0.2s">
                    <a href="{%url 'properties-details' object.pk %}">Cuberia Condominium</a>
                    <p>{{object.address|slice:48}}...</p>
                    <p>RM {{ object.price |intcomma }}</p>
                    <div class="bedroom-div wow fadeInUp" data-wow-delay="0.4s">
                        <div class="d-flex" style="align-items: baseline;">
                            <i class="custom-fa fa fa-bed mt-2" aria-hidden="true"></i>
                            <p>&nbsp; 6</p>
                        </div>
                        <a class="wow fadeInUp a-custom-buttom mt-2" href="{%url 'properties-details' object.pk %}" data-wow-delay="0.4s" style="padding: unset; width: 10rem;">
                            <span style="font-size: 1.4rem;">View details</span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% comment %}
        <div class="affairs-pagination double-box mt-5" style="height: unset;">
            <a class="wow fadeInUp a-custom-buttom" href="#" data-wow-delay="0.4s">
                <span>View More&nbsp;&nbsp;&nbsp;</span>
                <div><img src="{% static 'images/search-arrow.svg' %}"></div>
            </a>
        </div>
        {% endcomment %}
    </div>
</div>
{% endblock body_content %}
